<!DOCTYPE html>
<html>
<head>
  <title>SteakOverflow</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav id="navbar">
    <ul class="nav_title">
      <li><h1><%= link_to "STEAK OVERFLOW", root_path %></h1></li>
    </ul>
    <ul class="nav_list">
      <% if logged_in? %>
      <li><h2><%= link_to @current_user.username, user_path(@current_user)%></h2></li>
      <li><%= link_to "Log Out", session_path(@current_user.id), method: 'delete', class: "button" %></li>
      <% end %>
      <% if !logged_in? %>
      <li><%= link_to "Sign Up", new_user_path, class: "button" %></li>
      <li><%= link_to "Sign In", new_session_path, class: "button" %></li>
      <% end %>
    </ul>
  </nav>

  <div id="container">
    <%= yield %>
  </div>
</body>
</html>
